<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="inviaMailTask" class="it.quartz.prova.InviaMailTask" />

	<!-- Spring Quartz -->
	<bean name="inviaMailJob" class="org.springframework.scheduling.quartz.JobDetailBean">

		<property name="jobClass" value="it.quartz.prova.InviaMailJob" />

		<property name="jobDataAsMap">
			<map>
				<entry key="inviaMailTask" value-ref="inviaMailTask" />
			</map>
		</property>

	</bean>

	<!-- Simple Trigger, run every 5 seconds -->
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="inviaMailJob" />
		<property name="repeatInterval" value="5000" />
		<property name="startDelay" value="1000" />

	</bean>

	<!-- Cron Trigger, run every 5 seconds -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="inviaMailJob" />
		<property name="cronExpression" value="0/5 * * * * ?" />
	</bean>

	<!-- Cron Trigger, run at 8:00 from Monday to Friday -->
	<bean id="recapMailTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="inviaMailJob" />
		<property name="cronExpression" value="0 0 8 ? * MON-FRI *" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="inviaMailJob" />
			</list>
		</property>

		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
	</bean>

</beans>